/*global*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(images/limitless-baggrund.png);


}

/*tekst*/

@font-face {

    font-family: 'orbitron';
    src: url('orbitron-bold.otf') format:'otf';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'orbitron', sans-serif;
    color: #ffa852;
}



p,
a {
    font-family: 'arial', sans-serif;
    color: white;
}

/*header*/

/*menu*/
#menu {
    position: absolute;
    padding: 2%;
    width: 100%;

}

#menu a {

    margin: 4%;
    text-decoration-line: none;
    opacity: 1;


}

a:hover {
    color: #ffa852;
}

/*hero-image*/
#hero {
    position: relative;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#logo {
    position: absolute;
    top: 30%;
    left: 60%;
    width: 20%;
}

/*video - limitless*/

#video {
    width: 100%;
}

/*Om os*/

#indledning {
    font-weight: bold
}

#omos {
    margin-top: 5%;
    margin-right: auto;
    margin-left: 5%;
    display: block;
    width: 45%;
}

#vrgameplay {
    width: 35%;
    border-style: solid;
    border-width: 7px;
    border-color: #001a3e;
    margin-left: 60%;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 40px 200px 40px; 
}

.grid-container>div {
    text-align: center;
    padding:20px 0;
}


/*infograpic*/
#infographic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    position: relative;
}

#infographic p,
h2 {
    display: block;
    width: 60%;
    margin-right: auto;
    margin-left: 5%;
}

#infographic h2 {
    font-size: 29px;
    margin-top: 20%;
}

/*spil/oplevelser*/

.overskrift h3 {
    font-family: 'orbitron', sans-serif;
    color: white;
    text-align: center;
    padding: 6px;
}
.beskriv {
    padding: 6px;
}
.spil {
    width: 25%;
background-color:#4d64ab;
    margin: 5%;
}

.players {
    font-family: 'orbitron', sans-serif;
    padding: 6px;
   
}



/*footer*/
footer #smlogo {
    color: white
}

/*mobil*/
/*åbningstider*/
.Schedule {
    position: absolute;
    bottom: 0%;
    left: 5%;
    margin-top: -100px;
    width: 200px;
    display: none;
}

.Schedule h2 {
    color: white;
}


/*taplet*/
@media (min-width:420px) {

    /*åbningstider*/
    .Schedule {
        margin-top: 1px;
        height: 50px;
        width: 300px;
        display: none;


    }
    
    /*spil/oplevelser*/

.overskrift h3 {
    padding: 6px;
}
.spil {
    width: 25%;

}
    .trailer {
        width: 100%;
    }
    
    .beskriv {
    }
}


/*PC*/
@media (min-width:1025px) {}
