/*global*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(images/limitless-baggrund.png);
    
    
}

/*tekst*/

@font-face {
    
font-family: 'orbitron';
    src: url('orbitron-bold.otf') format:'otf';
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'orbitron', sans-serif;
    color: #ffa852;
}

p,
a {
    font-family: 'arial', sans-serif;
    color: white;
}
/*header*/
 /*hero-image*/
        #hero {
            width: 100%;
            z-index: -1;
        }

#logo {
    position: absolute;
    top: 35%;
    right: 20%;
    width: 20%;
}

/*Om os*/
#vrgameplay{
    width: 45%;
}
    

/**infograpic**/
#infographic img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

/**footer**/
#smlogo {
    color: white
}
/*mobil*/
/*åbningstider*/
.Schedule {
    position: absolute;
    bottom: 0%;
    left: 5%;
    margin-top: -100px;
    width: 200px;
    display: none;
}

.Schedule, h2 {
    color: white;
}


/*taplet*/
@media (min-width:420px) {
    
    /*åbningstider*/
    .Schedule {
        margin-top: 1px;
        height: 50px;
        width: 300px;
        display: none;
        
    
    }
}
    
    
   /*PC*/ 
    @media (min-width:1025px) {
       
}